{% extends 'base.html' %}

{% block titulo %}
Borrar Consola
{% endblock %}

{% block contenido_que_cambia %}

<h2>Nombre de la Consola: {{console.name}}</h2>>

<p>Esta seguro que desea eliminarlo?</p>

<p>Nombre de la Consola: {{console.name}}</p>
<p>Precio de la Consola: {{console.price}}</p>
<p>Stock de la Consola: {{console.stock}}</p>
<p>Productor: {{console.producer}}</p>
<img src="{{console.image.url}}" class="card-img-top" alt="..." style="width:300px;height:400px;">


<form action="" method="POST">
    {% csrf_token %}
    
        <p><input type="submit" value="Borrar"><p>
    
    </form>
    

{% endblock %}