{% extends 'base.html' %}

{% block titulo %}
Borrar Celular
{% endblock %}

{% block contenido_que_cambia %}

<h2>Nombre del Celular: {{phone.name}}</h2>>

<p>Esta seguro que desea eliminarlo?</p>

<p>Nombre del Celular: {{phone.name}}</p>
<p>Precio del Celular: {{phone.price}}</p>
<p>Stock del Celular: {{phone.stock}}</p>
<p>Productor: {{phone.producer}}</p>
<img src="{{phone.image.url}}" class="card-img-top" alt="..." style="width:300px;height:400px;">

<form action="" method="POST">
    {% csrf_token %}
    
        <p><input type="submit" value="Borrar"><p>
    
    </form>
    

{% endblock %}